{
  "require": [],
  "extension": [
    ".js",
    ".jsx"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "sourceMap": true,
  "instrument": true,
  "exclude": [
    "src/**/*.spec.*",
    "test/*"
  ]
}
