.container {
  padding: 20px;
}

.input {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  margin: 20px 0;
}

.loading {
  font-style: italic;
  font-size: 20px;
}

.notFound {
  display: block;
}
