.container {
  padding: 10px;
  display: inline-block;
}

.avatar {
  width: 120px;
  height: 120px;
}

.id { /* empty */ }

.login { /* empty */ }

.name { /* empty */ }

.company { /* empty */ }

.htmlUrl { /* empty */ }
